.actions {
    position: absolute;
    top: 200px;
    right: 10px;
    visibility: hidden;
    width: 322px;
    list-style-type: none;
    background-color: white;
    border: 1px solid rgba(206, 197, 197, 0.5);
    padding: 10px;
    margin-right: 0;
    box-sizing: border-box;
    z-index: 11;
}
.actions.display {
    visibility: visible;
}

.buttonList {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

/*操作窗口底部背景遮罩层*/
.globalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 10;
}
