.itemName {
    flex: 9 1 100px;
    pointer-events: none;
    box-sizing: border-box;
}
.itemName.active {
    font-weight: bold;
}

.itemNumber {
    flex: 1 1 20px;
    text-align: center;
    pointer-events: none;
    box-sizing: border-box;
}

.dragEnter {
    border: 3px solid blue;
}

.listItem {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: 3px solid transparent;
}
.listItem:hover {
    background-color: rgba(206, 197, 107, 0.5);
}
.listItem.active {
    background-color: #abddf1;
}
.listItem.active:hover {
    background-color: #87ceeb;
}
