.primaryCopy {
    width: 90%;
    height: 40px;
    margin: 5%;
    display: flex;
    border: 1px solid rgba(206, 197, 197, 0.5);
    background-color: white;
    box-sizing: border-box;
}

.copyArea {
    width: 100%;
    display: flex;
}

.copyText {
    margin: 0;
    color: blue;
    flex: 1 0 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}

.cancelButton {
    flex: 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    cursor: pointer;
}
.cancelButton:hover {
    background-color: rgba(206, 197, 197, 0.2);
}

.copyButton {
    margin: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}
.copyButton:hover {
    background-color: rgba(206, 197, 197, 0.2);
}
